<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1><i class="fab fa-github" style="color:black"></i>&nbsp;<span class="bolder-colored">Git</span><span class="bold-colored">Search</span> </h1>
  <a class="navbar-brand" href="#" routerLink="/profile">View Profile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline my-2 my-lg-0" (ngSubmit)="displayDetails()">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for github user" aria-label="Search" name="details" [(ngModel)]="details">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div  id="user-details">
  <div id="profile" class="row">
    <img class="ml-0 col-5 img-responsive img-circle" src="user.avatar_url" >height="200px" width="100px">
    <div class="col-5 text-left">
</div>

<div class="user">
{{user.login}}
{{user.public_repos}}
<!-- <img [src]="user.avatar_url"> -->
{{user.created_at}}
</div>

<div *ngFor="let repo of repos">
{{repo.name}}
</div>