<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1><i class="fab fa-github" style="color:black"></i>&nbsp;<span class="bolder-colored">Git</span><span class="bold-colored">Search</span> </h1>
  <a class="navbar-brand" href="#" routerLink="/profile">View Profile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline my-2 my-lg-0" (ngSubmit)="displayDetails()">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for github user" aria-label="Search" name="details" [(ngModel)]="details">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div  id="user-details">
  <div id="profile" class="row">
    <img class=" img-responsive img-circle" src={{user.avatar_url}} height="200px" width="150px">
    <div class="col-5 text-left">
      <p class="login">{{user.login}}</p>
      <p class="bio">{{user.bio}}</p>
      <p class="stat">Date Joined: <strong>{{user.created_at|date}}</strong></p>
      <p class="stat">Number of Repos: <strong>{{user.public_repos}}</strong></p>
      
</div>


<div class="cards">
  <div class="card" *ngFor="let repo of repos">
      <div class="card-body">
          <div class="card-title">

              <a href="{{repo.html_url}}" style="color:#d19438;" >{{repo.name|uppercase}}</a>
          </div>
          <div>
          <p> {{repo.full_name|uppercase}} </p>
          </div>
        
            <div class="card-text">
              <p *ngIf="repo.description">{{repo.description}}</p>
              <p *ngIf="!repo.description">No description is available for this repository</p>
            </div>
            <div class="card-bottom" appBold>
              <div *ngIf="repo.language"  >
                  <i class="fas fa-circle"></i>&nbsp;{{repo.language}}
                </div>&nbsp;&nbsp;
                <div *ngIf="!repo.language">
                  <i class="fas fa-circle"></i>&nbsp;Undefined
                </div>&nbsp;&nbsp;
                <div>
                  <p>{{repo.clone_url}}</p> &nbsp;&nbsp;clone
                  </div>
                  <div>
                    <p> {{repo.updated_at|date}}</p>&nbsp;&nbsp;update
                    </div>
                    <div>
                      <p>{{repo.created_at|date}}</p>  &nbsp;&nbsp;date
                      </div>
                  
            





            </div>
</div>
  </div>
</div>
  </div>
</div>
</div>
