nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: palevioletred;
  width: 100%;
  font-family: 'Concert One', cursive;
  
}
#profile {
  background:black;
  color: rgb(248, 246, 246);
  margin-top: 20px;
  padding: 20px;
  margin-left: 13%;
  border-radius: 8px;
  position: relative;
  left: 5%;
  width: 900px;
}