<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1><i class="fab fa-github" style="color:black"></i>&nbsp;<span class="bolder-colored">Git</span><span class="bold-colored">Search</span> </h1>
  <a class="navbar-brand" href="#" routerLink="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div  id="user-details">
  <div id="profile" class="row">
    <img class=" img-responsive img-circle" src={{mercy.avatar_url}} height="200px" width="150px">
    <div class="col-5 text-left">
      <div class="card-text">
        <p> {{mercy.name}}</p>&nbsp;&nbsp;Bio
        </div>
        <div class="card-text">
          <p>{{mercy.bio}}</p>  &nbsp;&nbsp;Login
          </div>
          <div class="card-text">
            <p>{{mercy.login}}</p>  &nbsp;&nbsp;
            </div>
  
